################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartMail.Cli/obj
/SmartMailApiClient/obj
/SmartMailApiClient/bin/Debug/net8.0
/SmartMail.Cli/bin/Debug/net8.0
